<%- include("partials/header"); -%>
    <div class="container">
      <hr class="homehr">
      <br>
      <h1>About</h1>
      <br>
      <hr class="homehr">
      <img src="image/關於圖片.jpg" alt="關於圖片">
      <br>
      <br>
      <p><%= aboutContent %> </p>
      <br>
    </div>



<%- include("partials/footer"); -%>
