<%- include("partials/header"); -%>
    <div class="container">
      <h1>About</h1>
      <br>
      <img src="image/關於圖片.jpg" alt="關於圖片">
    </div>
    <br>

    <p><%= aboutContent %> </p>
<%- include("partials/footer"); -%>
