<%- include("partials/header"); -%>
    <div class="contact">
    <h1>Contact</h1>
    <br>
    <img style="height:220px;width:280px"   src="image/擎天崗.jpg" alt="擎天崗">
    </div>
    <br>
    <p> <%= contactContent %> </p>
    <br>
<%- include("partials/footer"); -%>
