<%- include("partials/header"); -%>
    <div class="container">
    <div class="contact">
    <hr class="homehr">
    <br>
    <h1>Contact</h1>
    <br>
    <hr class="homehr">
    <br>
    <img class="sky" src="image/擎天崗.jpg" alt="擎天崗">
    </div>
    <br>
    <br>
    <p>風和日麗的擎天崗</p>
    <br>
    </div>
<%- include("partials/footer"); -%>
