<%- include("partials/header"); -%>
  <div class="container ">
  <hr class="homehr">
  <br>
  <h1><%=title%></h1>
  <br>
  <hr class="homehr">
  <br>
  <br>
  <br>
  <p class="postp"><%=content%></p>
  </div>
<%- include("partials/footer"); -%>
