<%- include("partials/header"); -%>
  <div class="container">
  <h1><span><</span><%=title%><span>></span></h1>
  <br>
  <br>
  <hr>
  <p>Article:</p>
  <br>
  <p><%=content%></p>
  </div>
<%- include("partials/footer"); -%>
