html {
  min-height: 100%;
  position: relative;
}

h4{
  text-align: center;
}

.main{
margin-bottom: 80px;
}

.intro{
margin-top:70px;
text-align: center;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}


.footer {
  margin-top: 30px;
	position: absolute;
	text-align: center;
	width: 100%;
	background-color: #1abc9c;
  bottom: 0;
}

.footer p {
  margin-top: 20px;
  margin-bottom: 20px;
	font-size: 12px;
  color: #fff;
}



.weather{

  height:70px;
  width:70px;

}

.weatherdata{
text-align: center;

}

.weatherhead{
text-align: center;
margin-bottom: 20px;
}


.sky{
  height: 220px;
  width:280px;
}

.button{
  color:white;
  background-color:#0275d8;
  border-radius: 50px;
  margin-top: 0;
 position: relative;
 bottom:20px;
  margin-bottom: 70px;
}

hr.homehr{
  border: dotted 10px #EAF6F6;
  border-bottom:none;

}

hr.dot{
  border: dotted 10px #EAF6F6;
  border-bottom:none;
  width:5%;
  margin: 5px 0  15px;
}

.contact{
margin-bottom: 100px;
}

.about{
margin-bottom: 100px;

}

.labelname{
  margin-top:10px;
  font-size: 16px;
}
.form-group{
font-size: 0
}

@media (max-width:1180px)
 {

h1{
  font-size: 4.5rem;
}

h2{
text-align: center;

}

li{
  font-size: 2.2rem;

}

p{
  font-size: 2rem;
}


img{
  height:440px;
  width:600px;
}

.labelname{
  font-size: 4rem;
  padding-top: 50px;
}

button{
  color:white!Important;
  background-color:#0275d8 !Important;
  border-radius: 10px ! Important;
  padding: 6px 14px ! Important;
  border:0  !Important;
  font-size: 3rem! Important;
}


.intro{
  margin-bottom: 100px;
  margin-top:100px;
}

.weatherhead{

margin-bottom: 40px;
}


.citytemp{

  margin-bottom: 40px;
}


.footer p {
	font-size: 2.5rem;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 25px;
}

.footer {
  position: absolute;
	text-align: center;
	background-color: #1abc9c;
  bottom:0;
  /* //手機模式要使用這個property div footer才會貼地// */
}

.sky{
  height:440px;
  width:600px;
}

.navbar-brand{
  font-size:3rem !Important;
}

}
